<main class="container my-5">
  <div class="register-container">
    <div class="register-header">
      <h2>Create Account</h2>
      <p>Join WolFix Store for the best shopping experience</p>
      @if (errorMessage) {
        <div class="justify-content-center">
          <p-message severity="error">
            {{ errorMessage }}
          </p-message>
        </div>
      }
    </div>
    <form [formGroup]="formRegister" class="register-form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <p-floatlabel variant="on" style="--p-floatlabel-on-active-background: #f8f9fa">
          <input pInputText formControlName="name" type="text" class="form-control" />
          <label for="name">Full name</label>
        </p-floatlabel>
        <p-message severity="error" size="small" variant="simple">
          @if (isInvalid('name')) {
            @if (formRegister.get('name')?.errors?.['required']) {
              <p-message severity="error" size="small" variant="simple"
                >Name is required.</p-message
              >
            }
            @if (formRegister.get('name')?.errors?.['pattern']) {
              <p-message severity="error" size="small" variant="simple"
                >Please enter a valid name.</p-message
              >
            }
          }
        </p-message>
      </div>
      <div class="form-group center">
        <p-floatlabel variant="on" style="--p-floatlabel-on-active-background: #f8f9fa">
          <input pInputText formControlName="email" type="email" class="form-control" />
          <label for="email">Email</label>
        </p-floatlabel>
        <p-message severity="error" size="small" variant="simple">
          @if (isInvalid('email')) {
            @if (formRegister.get('email')?.errors?.['required']) {
              <p-message severity="error" size="small" variant="simple"
                >Email is required.</p-message
              >
            }
            @if (
              formRegister.get('email')?.errors?.['email'] ||
              formRegister.get('email')?.errors?.['pattern']
            ) {
              <p-message severity="error" size="small" variant="simple"
                >Please enter a valid email.</p-message
              >
            }
          }
        </p-message>
      </div>
      <div class="form-group">
        <p-floatlabel variant="on" style="--p-floatlabel-on-active-background: #f8f9fa">
          <p-password
            formControlName="password"
            autocomplete="off"
            [toggleMask]="true"
            size="large"
            style="
              --p-inputtext-background: #f8f9fa;
              --p-inputtext-color: var(--text-primary);
              --p-inputtext-border-color: var(--border-color);
              --p-inputtext-focus-border-color: var(--primary-color);
              --p-inputtext-hover-border-color: var(--border-color);
              --p-password-overlay-background: var(--surface-color);
              --p-password-overlay-color: #334155;
              --p-password-meter-background: #e2e8f0;
            "
            inputId="password"
          >
            <ng-template #footer>
              <p-divider />
              <ul class="pl-2 my-0 leading-normal">
                <li>At least one lowercase</li>
                <li>At least one uppercase</li>
                <li>At least one numeric</li>
                <li>Minimum 8 characters</li>
              </ul>
            </ng-template>
          </p-password>
          <label for="password">Password</label>
        </p-floatlabel>
        <p-message severity="error" size="small" variant="simple">
          @if (isInvalid('password')) {
            @if (formRegister.get('password')?.errors?.['required']) {
              <p-message severity="error" size="small" variant="simple"
                >password is required.</p-message
              >
            } @else if (formRegister.get('password')?.errors?.['lowercase']) {
              <p-message severity="error" size="small" variant="simple"
                >Password must contain at least one lowercase letter.</p-message
              >
            } @else if (formRegister.get('password')?.errors?.['lowercase']) {
              <p-message severity="error" size="small" variant="simple"
                >Password must contain at least one lowercase letter.</p-message
              >
            } @else if (formRegister.get('password')?.errors?.['uppercase']) {
              <p-message severity="error" size="small" variant="simple"
                >Password must contain at least one uppercase letter.</p-message
              >
            } @else if (formRegister.get('password')?.errors?.['minlength']) {
              <p-message severity="error" size="small" variant="simple"
                >Password must be at least 8 characters long.</p-message
              >
            }
          }
        </p-message>
      </div>
      <div class="form-group">
        <p-floatlabel variant="on" style="--p-floatlabel-on-active-background: #f8f9fa">
          <p-password
            formControlName="confirmPassword"
            autocomplete="off"
            [feedback]="false"
            [toggleMask]="true"
            size="large"
            style="
              --p-inputtext-background: #f8f9fa;
              --p-inputtext-color: var(--text-primary);
              --p-inputtext-border-color: var(--border-color);
              --p-inputtext-focus-border-color: var(--primary-color);
              --p-inputtext-hover-border-color: var(--border-color);
              --p-password-overlay-background: var(--surface-color);
              --p-password-overlay-color: #334155;
              --p-password-meter-background: #e2e8f0;
            "
            inputId="confirmPassword"
          />

          <label for="confirmPassword">Confirm Password</label>
        </p-floatlabel>
        <p-message severity="error" size="small" variant="simple">
          @if (
            isInvalid('confirmPassword') &&
            formRegister.get('confirmPassword')?.errors?.['passwordMismatch']
          ) {
            <p-message severity="error" size="small" variant="simple"
              >Passwords do not match.</p-message
            >
          }
        </p-message>
      </div>
      <span class="error" id="error"></span>
      <button type="submit" class="btn btn-primary" [disabled]="formRegister.invalid">
        Register
      </button>

      <div class="register-footer">Already have an account? <a routerLink="/login">Login</a></div>
    </form>
  </div>
</main>
