<div class="sliderContainer">
  <ngb-carousel
    #carousel
    [interval]="5000"
    [pauseOnHover]="pauseOnHover"
    [pauseOnFocus]="pauseOnFocus"
    (slide)="onSlide($event)"
  >
    @for (product of products; track product.id; let i = $index) {
      <ng-template ngbSlide>
        <div class="slide">
          <!-- <div class="carousel-caption">
            <h3>{{ product.name }}</h3>
          </div> -->

          <a [routerLink]="'/product/' + product.id" rel="nofollow noopener noreferrer">
            <div class="picsum-img-wrapper">
              <img [src]="product.sliderImage" [alt]="product.name" />
            </div>
          </a>
        </div>
      </ng-template>
    }
  </ngb-carousel>
</div>
