<div class="products-section">
  <div class="products-header">
    <div class="products-title">
      <h2>{{ title }}</h2>
      <div id="productsCount" class="products-count">{{ total }} results</div>
    </div>
    <div class="products-controls">
      <div class="sort-container">
        <select id="sortBy" class="sort-select" [(ngModel)]="sortType" (change)="onSort()">
          <option value="relevance">Sort by Relevance</option>
          <option value="price_asc">Price: Low to High</option>
          <option value="price_desc">Price: High to Low</option>
          <option value="rating_asc">Rating: Low to High</option>
          <option value="rating_desc">Rating: High to Low</option>
          <option value="name_asc">Name: A to Z</option>
          <option value="name_desc">Name: Z to A</option>
        </select>
      </div>
    </div>
    <button
      class="filter-toggle-mobile btn-primary"
      data-bs-toggle="offcanvas"
      data-bs-target="#mobileFilters"
      aria-controls="mobileFilters"
    >
      <i class="bi bi-funnel"></i> Filters
    </button>
  </div>
  <div id="productsContainer" class="row g-4">
    @for(product of products ;track product.id){
    <div class="col-sm-6 col-xl-4 col-xxl-3">
      <app-product-card [product]="product"></app-product-card>
    </div>
    }
  </div>
  <nav class="pagination-container">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="total"
      [rowsPerPageOptions]="[5, 10, 20, 30]"
      style="
        --p-paginator-nav-button-border-radius: var(--border-radius);
        --p-select-option-selected-focus-background: var(--primary-color);
        --p-select-option-selected-background: var(--primary-color);
        --p-select-option-selected-focus-color: var(--secondary-color);
        --p-select-option-selected-color: var(--secondary-color);
      "
    />
  </nav>
</div>
