<div class="order-card">
            <div class="order-card-header">
              <h3 class="order-card-title">Order #${index + 1}</h3>
              <span class="order-status status-processing">${order.status}</span>
            </div>
            <div class="order-card-body">
              <div class="order-date">
                <i class="bi bi-calendar"></i>
                Placed on ${getDate(order.createdAt)}
              </div>
              ${templateItems}
              <div class="order-total">
                <span>Total</span>
                <span>$${order.total.toFixed(2)}</span>
              </div>

              <div class="order-actions">
                <a href="#" class="btn-view-order"> <i class="bi bi-eye"></i> View Details </a>
                <a href="#" class="btn-track-order"> <i class="bi bi-geo-alt"></i> Track Order </a>
              </div>
            </div>
          </div>