<div class="order-card">
  <div class="order-card-header">
    <h3 class="order-card-title">Order #{{ order.orderId }}</h3>
    <span class="order-status status-processing">{{ order.status }}</span>
  </div>
  <div class="order-card-body">
    <div class="order-date">
      <i class="bi bi-calendar"></i>
      Placed on {{ order.created_at | date: 'MMMM d, y' }}
    </div>
    @for (item of order.items; track $index) {
      <app-order-item [item]="item"></app-order-item>
    }
    <div class="order-total">
      <span>Total</span>
      <span>{{ order.total | currency }}</span>
    </div>

    <div class="order-actions">
      <a [routerLink]="['/order', order.orderId]" class="btn-view-order">
        <i class="bi bi-eye"></i> View Details
      </a>
      <a href="#" class="btn-track-order"> <i class="bi bi-geo-alt"></i> Track Order </a>
    </div>
  </div>
</div>
