:host ::ng-deep .p-carousel-item-list {
  margin: 20px !important;
}
.carousel-frame {
  position: relative;
  border: 3px solid var(--primary-color);
  border-radius: 8px;
  padding-top: 0.5rem;
}

.carousel-label {
  position: absolute;
  top: -12px;
  left: 20px;
  background: var(--primary-color);
  color: #fff;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 14px;
}
.carousel-see-more {
  position: absolute;
  top: -12px;
  right: 20px;
  background: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s ease;
}

.carousel-see-more:hover {
  background: #e6a245;
}
