<div class="card mx-5 carousel-frame">
  <div class="carousel-label">{{ category }}</div>
  <a routerLink="/category/{{ category }}" class="carousel-see-more">See More →</a>

  <p-carousel
    [value]="products"
    [numVisible]="6"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
    style="--p-carousel-indicator-active-background: var(--primary-color)"
  >
    <ng-template let-product #item>
      <div class="mx-3">
        <a routerLink="/product/{{ product.id }}" class="text-decoration-none">
          <app-product-card [product]="product" [action]="false"></app-product-card>
        </a>
      </div>
    </ng-template>
  </p-carousel>
</div>
